body {
    font-size: max(12px, 2.5vh);
}

img {
    width: 20vmin !important;
}

.title {
    text-align: center;
}
p {
    margin: 0;
}
h1 {
    margin: 0;
    font-size: max(12px, 10vh);
}

canvas {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 100vmax;
    height: 100vmax;
}
.banner {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    box-sizing: border-box;
    border-top: solid;
    border-bottom: solid;
    border-right: none;
    border-left: none;
    width: 100%;
    border-radius: 0;
}
.link {
    text-decoration: underline;
}
.content {
    position: absolute;
    left: 0;
    top: 100vh;
    width: 100%;
    text-align: center;
    padding: 30px;
    box-sizing: border-box;
    padding-bottom: 10vh;
}

.content > h2 {
    padding-top: 50px;
}
.content > p {
    padding-bottom: 25px;
}
.content > ul {
    list-style: none;
    padding-left: 0;
}